{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Grupo! Ciesze się, że się tu zebraliśmy!{% endblock %}

{% block content %}

                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">


                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Dzień Dobry!</h1>
                                </div>

                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <br><br>
                                    <button type="submit" class="btn btn-info">Wchodzimy!</button>
                                </form>
                                <hr>





{% endblock %}