{% extends "registration/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Nowe Hasło</h1>
                <h3>Nie pamiętam hasła :(</h3><br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-info">Wyślij!</button>
                </form>
            </div>
            {% endblock %}