{% extends "registration/base.html" %}

{% block title %}Chcę nowe hasło!{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Sukces :)</h1>
                <p class="font-weight-bold">
                    Instrukcje dotyczące resetu hasła zostały przesłane na maila.
                </p>
                <p class="font-weight-bold">
                    Jeśli nie masz w skrzynce wiadomości - sprawdź spam!
                </p>
            </div>
                {% endblock %}
