{% extends "registration/base.html" %}

{% block title %}Chcę nowe hasło!{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Wpisz nowe hasło</h1>


                {% if validlink %}
                <h3>Zmiana hasła</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br><br>
                    <button type="submit" class="btn btn-info">Zmień hasło</button>
                </form>
                {% else %}
                <p class="font-weight-bold">
                    Ups! something is no yes! Dokonaj resetu hasła jeszcze raz lub skontaktuj się z Paś
                </p>
            </div>
                {% endif %}
                {% endblock %}